includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  scanFiles:
    - init.php
  bootstrapFiles:
    - init-no-db.php
  level: 5
  paths:
    - action
    - api
    - connecteur
    - connecteur-type
    - controler
    - lib
    - mailsec
    - model
    - module
    - pastell-core
    - script
    - src
    - test
    - tests
    - type-dossier
  excludePaths:
    - test/codeception/tests/_support/_generated/ApiTesterActions.php
  ignoreErrors:
    -
      message: '/PHPDoc tag @throws with type (.*) is not subtype of Throwable/'
      path: test/codeception/tests/_support/_generated/
