<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         failOnNotice="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         bootstrap="test/PHPUnit/init.php"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="KERNEL_CLASS" value="Pastell\Kernel"/>
    </php>

    <testsuites>
        <testsuite name="Pastell Test Suite">
            <directory>test/PHPUnit</directory>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source ignoreSuppressionOfDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>action</directory>
            <directory>api</directory>
            <directory>batch</directory>
            <directory>connecteur</directory>
            <directory>connecteur-type</directory>
            <directory>controler</directory>
            <directory>lib</directory>
            <directory>mailsec</directory>
            <directory>model</directory>
            <directory>module</directory>
            <directory>pastell-core</directory>
            <directory>src</directory>
            <directory>template</directory>
            <directory>web</directory>
            <directory>web-mailsec</directory>
        </include>
    </source>

    <extensions>
    </extensions>
</phpunit>
