<?xml version="1.0"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="test/PHPUnit/init.php"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnPhpunitDeprecations="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerErrors="true"
>
    <php>
        <server name="KERNEL_CLASS" value="Pastell\Kernel"/>
        <server name="SHELL_VERBOSITY" value="0"/>
    </php>
    <testsuites>
        <testsuite name="Pastell Core">
            <directory>test/PHPUnit/</directory>
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">action</directory>
            <directory suffix=".php">api</directory>
            <directory suffix=".php">batch</directory>
            <directory suffix=".php">connecteur</directory>
            <directory suffix=".php">connecteur-type</directory>
            <directory suffix=".php">controler</directory>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">mailsec</directory>
            <directory suffix=".php">model</directory>
            <directory suffix=".php">module</directory>
            <directory suffix=".php">pastell-core</directory>
            <directory suffix=".php">script</directory>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">template</directory>
            <directory suffix=".php">web</directory>
            <directory suffix=".php">web-mailsec</directory>
        </include>
    </source>
</phpunit>
