# host of this pastell : ex: pastell.libriciel.net
APP_HOST=
# host of the mailsec : ex: mailsec.pastell.libriciel.net
MAILSEC_HOST=

# All emails will be sent with the following FROM
PLATEFORME_MAIL=
#  Email of Pastell administrator //TODO : notification... SYSTEM_NOTIFICATION_EMAIL
# In case of multiple emails, they must be separated by "," without spaces
ADMIN_EMAIL=

# A user will be created with all permissions on Pastell (USER_ADMIN_LOGIN, USER_ADMIN_EMAIL ? )
PASTELL_ADMIN_LOGIN=admin
PASTELL_ADMIN_EMAIL=

#Mailer DSN according to https://symfony.com/doc/current/mailer.html#transport-setup
MAILER_DSN=

# Please fill with a strong password
DATABASE_ROOT_PASSWORD=
DATABASE_PASSWORD=

# Default volumes path for a standard installation

PASTELL_EXTENSION_PATH=/data/pastell/app/extensions/
WORKSPACE_VOLUME=/data/pastell/app/workspace/
PASTELL_SESSION=/data/pastell/app/session/
APP_LOGS_PATH=/data/pastell/app/log/
TMP_PATH=/data/pastell/app/tmp/
UPLOAD_CHUNK_PATH=/data/pastell/app/upload_chunk/
WEB_LOGS_PATH=/data/pastell/web/logs/
WEB_CERTIFICATES_PATH=/data/pastell/web/certificates/
ACME_DATADIR=/data/pastell/web/letsencrypt/

DATABASE_DATADIR=/data/pastell/database/

CACERTS_PATH=/data/pastell/cacerts/
LOCAL_CACERTS_PATH=/data/pastell/local-cacerts/

LIBRICIEL_FEEDBACK_VOLUME=/data/pastell/libriciel-feedback/run

ALLO_TOKEN=