UID=1000
GID=1000

APP_HOST=localhost
MAILSEC_HOST=127.0.0.1

HTTP_PORT=8000
HTTPS_PORT=8443

##### cacerts container
CACERTS_PATH=/data/pastell/cacerts
LOCAL_CACERTS_PATH=/data/pastell/local-cacerts

##### apache container
WEB_LOGS_PATH=/data/pastell/web/logs
WEB_CERTIFICATES_PATH=/data/pastell/web/certificates
ACME_DATADIR=/data/pastell/web/letsencrypt

#ACME_APP_ENABLED=false
#ACME_APP_SERVER=https://pebble:14000/dir
#ACME_APP_EMAIL: user@libriciel.invalid
#ACME_APP_DOMAIN=localhost
#ACME_APP_RENEW_BEFORE_DAYS=30

##### database container
DATABASE_DATADIR=/data/pastell/database

DATABASE_ROOT_PASSWORD=123456
DATABASE_PASSWORD=pastell

##### database test container
DATABASE_DATADIR_TEST=/data/pastell/database_test

DATABASE_PASSWORD_TEST=user

##### app container
APP_LOGS_PATH=/data/pastell/app/log
TMP_PATH=/data/pastell/app/tmp
UPLOAD_CHUNK_PATH=/data/pastell/app/upload_chunk
WORKSPACE_VOLUME=/data/pastell/app/workspace
PASTELL_EXTENSION_PATH=/home/mreyrolle/Sources/gitlab.libriciel.fr/pastell-extensions
PASTELL_SESSION=/data/pastell/app/sessions
PASTELL_GLANEUR=/data/pastell/app/glaneur
